@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap');

:root {
    --bg-white-color: #fff;
    --ff-black-color: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    color: var(--ff-black-color);
    font-family: 'Bona Nova', serif;
    background: linear-gradient(to left, rgba(226,165,22,0.82), rgba(160,221,132,0.15));
}
button {
    all: unset;
    cursor: pointer;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--ff-black-color);
    padding: 2em 0;

    .navbar__image {
        width: 30px;
    }
}

.generator {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.generator__button {
    width: 400px;
    height: 400px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .generator__span:first-child {
        font-family: 'Bona Nova', serif;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.generator__color {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .generator {
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
    .generator__button {
        width: 250px;
        height: 250px;
        .generator__span:first-child {
            font-family: 'Bona Nova', serif;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .generator__color {
        font-size: 16px;
    }
}